@import 'var';

*{
    margin: 0;
    padding: 0;
    @include abel;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
     transition: all 0.3s ease-in-out;
}

.main-color{
    color: $primary !important;
}

.home-page-intro{
    font-size: 28px;
    font-weight: 500;
    padding: 24px 30px;
}

input[type=text],
textarea,
select{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 2px solid $primary;
}

textarea{
    height: 140px;
}

.submit-contact-us{
    height: 40px;
    padding: 0 20px;
    border: none;
    background: $primary;
    color: $white;
}

img{
    width: auto;
}

.inner-h1{
   font-size: 55px;
   line-height: 1.5;
   color: $primary;
   margin: 0 0 24px 0;
}

.inner-h2{
   font-size: 30px;
   color: $main-font;
   margin: 0;
}

.project-h1{
   font-size: 55px;
}

.project-h3{
   font-size: 20px;
}

.inner-h3{
    font-size: 35px;
    color: $primary;
    margin: 0 0 48px 0;
 }

.project-h1,
.project-h3{
   color: $white;
   text-transform: uppercase;
}

.project-process-heading{
   font-size: 20px;
   color: $main-font;
}

.project-process-content{
   font-size: 15px;
   color: $main-font;
}

.article-content{
   font-size: 20px;
   color: $main-font;
   margin: 0 0 32px 0;
   &.signature{
      margin: 48px 0 32px 0;
   }
}

.article-images{
   width: 100%;
   margin: 0 0 32px 0;
}

.tagline{
   font-size: 20px;
   font-style: italic;
   color: $main-font;
   line-height: 24px;
   letter-spacing: 3px;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.header{
    //height: 250px;
    width: 100%;
    padding: 0px 0 0 0;
    .header-underlined{
        border-bottom: 1px solid $primary-light;
    }

    .logo-wrapper{
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    .new-navigation{
        position: relative;
    }
}

.new-main-nav{
    background: #dadada;
    display: flex;
    width: 100%;
    transform: translate(0, -100%);
    transform-origin: top;
    //transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    
    &.show-nav{
        transform: translate(0);
        transform-origin: top;
        opacity: 1;
    }

    .nav-inner{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 20px 4px;
        color: $primary;

        a{
            color: $primary;
            font-weight: 700;
            font-size: 16px;

        }

        span{
            display: block;
        }
    }

    .nav-level-1{
        display: flex;
        justify-content: flex-start;
        > li{
            margin-right: 64px;

            
        }

        .main-link {
            margin-bottom: 16px;
            display: block;
        }
    }
}

.container,
.col,
.col-12{
   padding-left: 0;
   padding-right: 0;
}

.row{
   margin-left: 0;
   margin-right: 0;
}

.social-lang{
    display: flex;
    justify-content: flex-end;

    .langs,
    .socials{
        display: flex;
    }

    .lang{
        padding-right: 15px;

        .langs{
            li{
                a{
                    padding-left: 15px;
                }
            }
        }


    }

    .social{
        .socials{
            li{
                a{
                    padding-left: 15px;
                    svg{
                        fill: $primary-light;
                    }

                }
            }
        }
    }
}

.cds-nav{
    display: flex;
    justify-content: flex-end;

    .cds-navigarion{
        display: flex;

        li{
            position: relative;
            &:hover{
                .drop-down{
                    transform: rotateX(0);
                    transform-origin: top;
                    opacity: 1;
                }   
            }
            a{
                padding-left: 15px;
                font-size: 17px;
                color: $main-font;
                &:hover{
                    color: $red;
                    
                }
                &.active{
                    color: $red;
                }
            }

            .drop-down{
                display: block;
                position: absolute;
                background: $white;
                left:5px;
                top: 20px;
                padding: 10px;
                box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.16);
                opacity: 0;
                transform: rotateX(90deg);
                transform-origin: top;

                li{
                    padding: 4px 0;
                    color: $primary;
                    &:hover{
                        color: $primary-light;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.intro{
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    h1,p{
        text-align: right;
    }

    h1{
        font-size: 20px;
        color: $primary-light;
    }

    p{
        font-size: 15px;
        color: $main-font;
        line-height: 20px;
        max-width: 550px;
    }
}

.portfolio-section{
    .portfolio-sort{
        padding: 60px 0;

        .sort-by{
            display: flex;
            justify-content: center;
            align-content: center;

            li{
                padding: 0 1rem;
                &.active{
                    a{
                        color: $primary-light;
                    }
                }
                &:after{
                    content: '/';
                    display: inline-block;
                    padding: 0 0 0 1rem;
                }
                &:last-child{
                    &:after{
                        content: '';
                        display: none;
                    }
                }

                a{
                    color: $main-font;
                    @include transition;
                    &:hover{
                        color: $primary-light;
                    }

                }
            }
        }
    }
}

.portfolio-tiles{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .tile{
        width: 25%;
        padding: 4px;
        opacity: 0;
        animation: tileIn 0.8s ease-in-out forwards;
        &:hover{
            .tile-info{
                transform: translate(0);
                opacity: 1;

                h2{
                    transform: translate(0);
                    opacity: 1;
                }

                p{
                    opacity: 1;
                }
            }
        }

        .tile-inner{
            width: 100%;
            background: cornflowerblue;
            box-sizing: border-box;
            height: 250px;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            &.tile1{
                background: url(../images/tile1.jpg);
                @include bg-cover;
            }
            &.tile2{
                background: url(../images/tile2.jpg);
                @include bg-cover;
            }
            &.tile3{
                background: url(../images/tile3.jpg);
                @include bg-cover;
            }
            &.tile4{
                background: url(../images/tile4.jpg);
                @include bg-cover;
            }

        }

        .tile-info{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-content: center;
            text-align: center;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.75);
            transform: translate(0);
            opacity: 0;
            transition: all 0.5s ease-in-out;
            h2{
                color: $primary;
                transform: translate(0, 20px);
                font-weight: bold;
                opacity: 0;
                @include transition;
                transition-delay: 0.2s;
            }
            p{
                color: $white;
                opacity: 0;
                @include transition;
                transition-delay: 0.4s;
            }
        }
    }
}

.show-more{
    display: flex;
    justify-content: center;
    padding: 30px;
    a{
        color: $red;
        font-size: 20px;
    }
}

.innovation-section{
    h2,h1{
        font-size: 75px;
        line-height: 70px;
    }
    h1{
        color: $primary-light;
    }
    h2{
        color: $main-font;
    }
    h4{
        font-size: 25px;
        color: $primary-light;
    }
    &.home-banner{
        .lets-create-section{
            padding: 70px 0 20px;
        }
    }

    .work-flow-section{
        display: flex;
        justify-content: center;
        img{
            width: 80%;
            height: 80%;
            max-width: 1200px;
        }
        &.mobile{
            display: none;
        }
    }
    .lets-create-section{
        padding: 80px 0;
        text-align: center;
        h2{
            font-size: 50px;
            line-height: 40px;
            color: $main-font;
            span{
                color: $primary-light;
            }
        }
        h4{
            font-size: 20px;
            color: $main-font;
        }
    }
    .info-cols{
        .col{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 80px;
        }

        .col-image{
            height: 192px;
            img{
                width: 100%;
            }
        }

        .col-info{
            text-align: center;
            h2{
                font-size: 28px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

.clients-section{
    h2{
        text-align: center;
        color: $primary-light;
        text-transform: uppercase;
        font-size: 35px;
        padding-bottom: 80px;
    }
    .clients{
        width: 100%;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: flex-start;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                img{
                    padding: 0 40px 40px 40px;
                    max-width: 100%;
                    max-height: 180px;
                }
            }
        }
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $primary;


}

.footerr{
   padding: 20px 0 80px 0;
}

.footer-section{
   span{
      display: block;
      color: $primary-light;
      margin-bottom: 20px;
      &.right{
         text-align: right;
      }
   }
}

.related-posts-header{
    font-weight: 400;
    color: #c14d9c;
    margin-bottom: 20px;
}

.related-posts{
    margin-bottom: 30px;
    padding: 12px;
    border-bottom: 4px solid transparent;
    &:hover{
        background: #f9f9f9;
        border-bottom: 4px solid $primary;
    }
    .post-image{
        width: 100%;
        height: 130px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .post-name{
        font-size: 16px;
        font-weight: bold;
        padding: 12px 0 0;
        color: $primary;
    }
    .post-tagline{
        font-size: 12px;
        color: $main-font;
    }

}

.mobile-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: $white;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transform: translate(0, -100%);
    opacity: 0;
    &.opened-nav{
        transform: translate(0, 0);
        opacity: 1;
    }
    ul{
        li{
            font-size: 20px;
            padding: 16px 0;
            a{
                color: $primary;
                font-weight: 500;
            }
        }
    }

    .close-nav{

    }
}


.menu-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    //display: none;
    z-index: 9999;
    span{
        width: 24px;
        height: 3px;
        border-radius: 4px;
        background: $primary;
        display: block;
        transition: all 0s ease-in-out;
        &:before,
        &:after{
            content: '';
            width: 24px;
            height: 3px;
            background: $primary;
            display: block;
            position: absolute;
            transition: all 0.3s ease-in-out;
        }
        &:before{
            transform: translate(0, -7px);
        }
        &:after{
            transform: translate(0, 7px);
        }
    }
    &.opened-menu{
        span{
            background: transparent;
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
    }
}

.our-team{
    margin-top: 60px;
}

.about--us{
    padding: 40px 0;
    h2{
        text-align: center;
        color: #c14d9c;
        text-transform: uppercase;
        font-size: 35px;
        padding-bottom: 35px;
    }

    .team-members{
        margin-bottom: 40px;
        .team-members-inner{
            display: flex;
            .member{
                width: 100%;
                padding: 2px;
                .member-image{
                    img{
                        width: 100%;
                    }
                }
                .member-info{
                    h2{
                        font-size: 20px;
                        text-align: left;
                        margin: 20px 0 2px;
                        padding: 0;
                        font-weight: 700;
                    }
                    span{
                        display: block;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            .social{
                ul{
                    display: flex;
                    li{
                        padding: 8px 16px 16px 0;
                        &:hover{
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }
}

.map-container{
    width: 100%;
    overflow: hidden;
    height: calc(100% - 43px);
    min-height: 390px;
    img{
        height: 100%;
    }
}

.contact-us-row{
    padding-top: 20px;
}

.contact-us-col-1{
    padding-right: 20px;
}

.contact-us-col-2{
    padding-left: 20px;
}

.address{
    h3{
        color: $primary;
    }
}

.career-intro{
    text-align: center;
    width: 70%;
    margin: 0 auto 40px;
}

.career{
    padding: 0 20px;
    margin-bottom: 40px;

    button{
        height: 40px;
        border: none;
        background: $primary;
        color: $white;
        padding: 0 20px;
        cursor: pointer;
        &.get-notify{
            background: $main-font;
            &:hover{
                background: $primary;
                
            }
        }
    }
}

.careers-row{
    margin: 0 -20px;
    .career-image{
        width: 100%;
        max-height: 250px;
        margin-bottom: 20px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    p{
        padding: 0;
        margin: 0 0 10px 0;
        .bold{
            font-weight: 700;
            margin-right: 10px;
        }
    }
}

.careers--page{
    .sub-heading-careers{
        color: $primary;
        padding: 40px 0 20px;
    }
}

.about--us{
    h2.career-inner-heading{
        text-align: left;
    }
    .bold{
        font-weight: 700;
        margin-right: 10px;
    }
    
}

.careers-inner-page{
    button{
        height: 40px;
        border: none;
        background: $primary;
        color: $white;
        padding: 0 20px;
        cursor: pointer;
        margin-bottom: 30px;
        &.get-notify{
            background: $main-font;
            &:hover{
                background: $primary;
                
            }
        }
    }
    .careers-header{
        border-bottom: 1px solid $main-font;
        margin-bottom: 20px;
    }
    ul{
        li{
            list-style: circle;
            margin: 0 0 0 32px;
            padding: 10px 0;
        }
    }

    .apply-for-this{
        width: 100%;
        border: 1px solid $primary;
        padding: 0 20px;
        .sub-heading-careers{
            padding: 20px 0;
        }
        select{
            width: auto;
        }
        input{
            width: 70%;
        }
    }
}

.apply-form{
    .label-name{
        text-align: right;
        padding-right: 20px;
        line-height: 40px;
    }
}

.header{
    &.home-page-header{
        .intro{
            display: none;
        }
        .header-underlined{
            border: none;
        }
        .home-header-fix{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .cds-navigarion{
            margin-bottom: 0;
        }
    }
} 

///////////////////////////////////////////////////
@import 'project';


@keyframes tileIn {
    0% {
        transform: translate(0, 0) scale(0.95);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@for $i from 1 through 16 {
    $postDelay: 0.5;
    $animationDelay: $i/8 + $postDelay - 0.5 - (1/8) + 's';
    .portfolio-tiles .tile:nth-child(#{$i}) {
        animation-delay: #{$animationDelay};
    }
}

@media only screen and (max-width: 991px){
   .footer-section{
      span{
         &.right{
            text-align: left;
         }
      }
   }

   .new-main-nav{
    background: #dadada;
    display: flex;
    width: 100%;
    transform: translate(0, -100%);
    transform-origin: top;
    //transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    flex-wrap: wrap;
    
    &.show-nav{
        transform: translate(0);
        transform-origin: top;
        opacity: 1;
    }

    .nav-inner{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 20px 4px;
        color: $primary;

        a{
            color: $primary;
            font-weight: 700;
            font-size: 16px;

        }

        span{
            display: block;
        }
    }

    .nav-level-1{
        display: flex;
        justify-content: flex-start;
        > li{
            margin-right: 64px;

            
        }

        .main-link {
            margin-bottom: 16px;
            display: block;
        }
    }
}

   .split-section{
      .left-column{
         padding: 0px;
      }
      .right-colomn{
         padding: 0px;
      }
   }

   .separation-tag{
      margin-bottom: 56px;
      p{
         text-align: center;
         font-size: 20px;
         color: $main-font;
         width: 100%;
         line-height: 56px;
         border-bottom: 1px solid $primary;
         border-top: 1px solid $primary;

      }
   }

   .news-section{
      .row{
         div:first-child{
            padding-right: 0px;
         }
         div:nth-child(even){
            padding-left: 0px;
         }
      }
      .row:nth-child(even){
         div:nth-child(even){
            order: 1;
         }
         div:nth-child(odd){
            order: 2;
         }
      }
      .news-list-images{
         margin-bottom: 24px;
      }
   }

   .news-banner{
      display: flex;
      flex-wrap: wrap;
      min-height: 350px;
      .news-banner-content{
         width: 100%;
         padding-top: 40px;
         text-align: center;
         .read-more{
            cursor: pointer;
         }
         a{
            display: block;
         }
         img{
            width: 100%;
            display: block;
         }
         .inner-h1{
            font-size: 35px;
         }
         .inner-h2{
            font-size: 20px;
         }
      }
      .news-banner-image{
         display: none;
      }
   }

   .project-process{
      .project-grid{
         .prject-grid-main-img{
            margin-bottom: 20px;
            min-height: 500px;
         }

         .grid-left{
            padding-right: 0px;
         }

         .grid-right{
            padding-left: 0px;
         }

         .project-grid-small-img{
            height: 240px;
         }
      }
   }

   .related-post-wrap{
       display: flex;
       flex-wrap: wrap;
       a{
            width: calc(100% / 3);
       }
   }

   .about--us{
        padding: 40px 0;
        h2{
            text-align: center;
            color: #c14d9c;
            text-transform: uppercase;
            font-size: 35px;
            padding-bottom: 20px;
        }

        .team-members{
            .team-members-inner{
                flex-wrap: wrap;
                .member{
                    width: calc(100%/3);
                    
                }
                .social{
                    border: none;
                    ul{
                        display: flex;
                        justify-content: flex-start;
                        li{
                            padding: 8px 16px 16px 0;
                            &:hover{
                                fill: $primary;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact-us-col-1{
        padding-right: 0px;
        margin-bottom: 20px;
    }
    
    .contact-us-col-2{
        padding-left: 0px;
    }


}


@media only screen and (max-width: 768px){
   .wrapper{
      padding-left: 15px;
      padding-right: 15px;
   }
    .logo-wrapper{
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .social-wrapper{
        display: flex;
    }

    .social-lang,
    .cds-nav{
        justify-content: center;
    }
    .intro {
        align-items: center;
        h1,p{
            text-align: center;
        }
    }
    .portfolio-section{
        padding-top: 40px;
    }
    .portfolio-sort{
        display: none;
    }
    .portfolio-tiles{
        .tile{
            width: 50%;
        }
    }

    .career-intro{
        width: 90%;
    }


}

@media only screen and (max-width: 766px){

    .menu-icon{
        display: block;
    }

    .mobile-nav{
        display: flex;
    }

    .header{
        padding: 85px 0 0 0;
    }
    .related-post-wrap{
        display: flex;
        flex-wrap: wrap;
        a{
             width: 100%;
        }
    }

    .related-posts{
        padding: 12px 0;
        margin-bottom:0px;
    }
    
    .inner-h1{
        line-height: 1;
        margin: 30px 0;
    }

    
    .team-members{
        .team-members-inner{
            flex-wrap: wrap;
            .member{
                width: 50% !important;
                .member-info{
                    h2{
                        font-size: 14px !important;
                    }
                    span{
                        font-size: 13px !important;
                    }
                }
            }
        }
    }

    .map-container{
        width: 100%;
        height: 320px;
        min-height: 320px;
        img{
            height: 100%;
        }
    }

    .apply-form{
        .label-name{
            text-align: left;
            padding-right: 20px;
        }
    }

    .careers-inner-page{
        button{
            margin-top: 20px;
        }
        ul{
            li{
                margin: 0 0 0 16px;
            }
        }
    
        .apply-for-this{
            padding: 0 12px;
            .sub-heading-careers{
                padding: 20px 0 0px;
            }
            select{
                width: 100%;
            }
            input{
                width: 100%;
            }
        }
    }
    


}

@media only screen and (max-width: 480px){
    .lang{
        display: none;
    }
    .social{
        width: 100%;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        margin-bottom: 20px;
    }
    .socials{
        justify-content: space-between;
        margin: 0;
        li{
            padding: 12px 12px 10px 12px;
        }
    }

    .cds-nav{
        display: none;
    }

    .header-underlined{
        border: none !important;
    }

    .portfolio-tiles{
        .tile{
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .innovation-section h2, .innovation-section h1 {
        font-size: 35px;
        line-height: 30px;
        text-align: center;
    }

    .innovation-section h4 {
        font-size: 15px;
        color: #c14d9c;
        text-align: center;
        margin: 20px;
    }
    .innovation-section{
        .work-flow-section{
            display: none ;
            justify-content: center;
            img{
                width: 90%;
                height: 90%;
                max-width: 1200px;
            }
            &.mobile{
                display: flex ;
                justify-content: flex-end;
            }
        }
        .lets-create-section{
            padding: 80px 0 40px 0;
            h2{
                font-size: 35px;
                line-height: 30px;
                span{
                    color: $primary-light;
                }
            }
            h4{
                font-size: 15px;
                color: $main-font;
            }
        }
        .info-cols{
            .col{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 80px;
            }

            .col-image{
                height: 192px;
                img{
                    width: 100%;
                }
            }

            .col-info{
                text-align: center;
                h2{
                    font-size: 28px;
                }
                p{
                    font-size: 15px;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }

    .clients-section{
      h2{
         padding-bottom: 20px;
      }
        .clients{
            width: 100%;
            ul{
                li{
                    width: 50%;
                    img{
                        padding: 40px 0;
                        max-width: 60%;
                    }
                }
            }
        }
    }

    .footer{
        display: flex;
        flex-direction: column;

        span{
            padding: 10px 0;
            text-align: center;
        }
    }

    .portfolio-tiles{

        .tile{

            .tile-info{
                transform: translate(0);
                opacity: 1;

                h2{
                    transform: translate(0);
                    opacity: 1;
                }

                p{
                    opacity: 1;
                }
            }


            .tile-inner{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 350px;
            }

            .tile-info{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-content: center;
                text-align: center;
                width: 100%;
                height: auto;
                background: #fff;
                @include transition;
                h2{
                    padding-top: 10px;
                }
                p{
                    color: $main-font;
                }
            }
        }
    }

    .project-process{
      .project-grid{
         .prject-grid-main-img{
            margin-bottom: 20px;
            min-height: 320px;
         }

         .grid-left{
            padding-right: 0px;
         }

         .grid-right{
            padding-left: 0px;
         }

         .project-grid-small-img{
            height: 160px;
         }
      }
   }

}
